S3method(as.data.frame,bayesian_first_aid)
S3method(as.matrix,bayesian_first_aid)
S3method(bayes.cor.test,default)
S3method(bayes.cor.test,formula)
S3method(bayes.t.test,default)
S3method(bayes.t.test,formula)
S3method(diagnostics,bayes_binom_test)
S3method(diagnostics,bayes_cor_test)
S3method(diagnostics,bayes_one_sample_poisson_test)
S3method(diagnostics,bayes_one_sample_t_test)
S3method(diagnostics,bayes_paired_t_test)
S3method(diagnostics,bayes_two_sample_poisson_test)
S3method(diagnostics,bayes_two_sample_t_test)
S3method(model.code,bayes_binom_test)
S3method(model.code,bayes_cor_test)
S3method(model.code,bayes_one_sample_poisson_test)
S3method(model.code,bayes_one_sample_t_test)
S3method(model.code,bayes_paired_t_test)
S3method(model.code,bayes_two_sample_poisson_test)
S3method(model.code,bayes_two_sample_t_test)
S3method(plot,bayes_binom_test)
S3method(plot,bayes_cor_test)
S3method(plot,bayes_one_sample_poisson_test)
S3method(plot,bayes_one_sample_t_test)
S3method(plot,bayes_paired_t_test)
S3method(plot,bayes_two_sample_poisson_test)
S3method(plot,bayes_two_sample_t_test)
S3method(print,bayes_binom_test)
S3method(print,bayes_cor_test)
S3method(print,bayes_one_sample_poisson_test)
S3method(print,bayes_one_sample_t_test)
S3method(print,bayes_paired_t_test)
S3method(print,bayes_two_sample_poisson_test)
S3method(print,bayes_two_sample_t_test)
S3method(summary,bayes_binom_test)
S3method(summary,bayes_cor_test)
S3method(summary,bayes_one_sample_poisson_test)
S3method(summary,bayes_one_sample_t_test)
S3method(summary,bayes_paired_t_test)
S3method(summary,bayes_two_sample_poisson_test)
S3method(summary,bayes_two_sample_t_test)
export(bayes.binom.test)
export(bayes.cor.test)
export(bayes.poisson.test)
export(bayes.t.test)
export(diagnostics)
export(model.code)
import(coda)
import(rjags)
