S3method(bayes.cor.test,default)
S3method(bayes.cor.test,formula)
S3method(bayes.t.test,default)
S3method(bayes.t.test,formula)
S3method(diagnostics,bfa_binom_test)
S3method(diagnostics,bfa_cor_test)
S3method(diagnostics,bfa_one_sample_poisson_test)
S3method(diagnostics,bfa_one_sample_t_test)
S3method(diagnostics,bfa_paired_t_test)
S3method(diagnostics,bfa_two_sample_poisson_test)
S3method(diagnostics,bfa_two_sample_t_test)
S3method(model.code,bfa_binom_test)
S3method(model.code,bfa_cor_test)
S3method(model.code,bfa_one_sample_poisson_test)
S3method(model.code,bfa_one_sample_t_test)
S3method(model.code,bfa_paired_t_test)
S3method(model.code,bfa_two_sample_poisson_test)
S3method(model.code,bfa_two_sample_t_test)
S3method(plot,bfa_binom_test)
S3method(plot,bfa_cor_test)
S3method(plot,bfa_one_sample_poisson_test)
S3method(plot,bfa_one_sample_t_test)
S3method(plot,bfa_paired_t_test)
S3method(plot,bfa_two_sample_poisson_test)
S3method(plot,bfa_two_sample_t_test)
S3method(print,bfa_binom_test)
S3method(print,bfa_cor_test)
S3method(print,bfa_one_sample_poisson_test)
S3method(print,bfa_one_sample_t_test)
S3method(print,bfa_paired_t_test)
S3method(print,bfa_two_sample_poisson_test)
S3method(print,bfa_two_sample_t_test)
S3method(summary,bfa_binom_test)
S3method(summary,bfa_cor_test)
S3method(summary,bfa_one_sample_poisson_test)
S3method(summary,bfa_one_sample_t_test)
S3method(summary,bfa_paired_t_test)
S3method(summary,bfa_two_sample_poisson_test)
S3method(summary,bfa_two_sample_t_test)
export(bayes.binom.test)
export(bayes.cor.test)
export(bayes.poisson.test)
export(bayes.t.test)
export(diagnostics)
export(model.code)
import(coda)
import(rjags)
